.container {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}

.text h2 {
  margin: 0;
  font-size: 80px;
  font-family: 'Raleway light', sans-serif;
  color: #eaeceb;
}
.tech-stack {
  max-width: 80%;
}
.tech-stack h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: azure;
  font-family: 'Open Sans' 'sans-serif';
  font-weight: 400;
}
.tech-word {
  border: solid 1px white;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 5px;
}
.img-photo {
  max-width: 320px;
  max-height: 320px;
}
