.nav-bar {
  position: fixed;
  height: 100%;
  width: 10.4%;
  border-right: solid 2px white;
  top: 0;
  z-index: 3;
  min-height: 500px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Open Sans' 'sans-serif';
  font-size: 16px;
  color: #394358;
}

.logo {
  max-width: 60%;
  display: flex;
  margin: 20% 0 20% 20%;
}

nav {
  text-align: center;
  height: 160px;
  margin-top: 80px;
  width: 100%;
}
nav h5 {
  margin-top: 0;
  margin-bottom: 40px;
}

.nav-bar nav svg {
  /* Your shared styles for all icons */
  width: 24px;
  height: 24px;
  fill: #ffffff; /* Example color */
}
a.active {
  color: aqua;
}
