.nav-bar {
  position: fixed;
  height: 100%;
  width: 10.4%;
  border-right: solid 2px white;
  top: 0;
  z-index: 3;
  min-height: 500px;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'Open Sans' 'sans-serif';
  font-size: 16px;
  color: #394358;
}

.nav-link {
  text-decoration: none; /* Remove underline */
  color: #eaeceb; /* Set your desired text color */
}

/* Apply the nav-link class to NavLink components */
.nav-bar nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #eaeceb; /* Set your desired text color */
}

.nav-bar nav a.active {
  color: #aeb9cd;
}
